({:timestamp 1686520269880, :entry "dreamt they did one more episode of Firefly, and I was in it"} {:timestamp 1686518797999, :entry nil} {:timestamp 1686518555275, :entry nil} {:timestamp 1686517842887, :entry "Flying!! But to Home Depot??"})