({:timestamp 1686523516046, :entry "visited by the tooth fairy, except he was a balding 45-year-old man with a potbelly from Brooklyn"} {:timestamp 1686523509128, :entry "visited by the tooth fairy, except he was a balding 45-year-old man with a potbelly from Brooklyn"} {:timestamp 1686523409773, :entry "visited by the tooth fairy, except he was a balding 45-year-old man with a potbelly from Brooklyn"})